body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

.headerdiv, footer {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
}

.calltoaction {
    background-color: #3882f6;
    margin: 50px;
    text-align: center;
    border-radius: 15px;
}

button {
    background-color: #3882f6;
    border-color:#edf6f5;
    border-radius: 5px;
}

footer{
    justify-content: center;
    padding: 10px;
}